.nickname {
    font-weight: bold;
    font-size: 14pt;
}

.username {
    font-size: 14pt;
}

.username::before {
    content: "@"
}

.bio {
    margin: 0 0 20px 0;
}

.joinDate {
    font-size: 10pt;
}

.postCount {
    font-size: 10pt;
}